.inicio-secion_2-371 {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
  width: 1294px;
  height: 730px;
}
.authpage_2-372 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1294px;
  height: 730px;
}
.container_2-373 {
  top: 0px;
  left: 647px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: content-box;
  background: linear-gradient(180deg, #eff6ff 0%, #ffffff 50%, #faf5ff 100%);
  width: 647px;
  height: 730px;
}
.container_2-374 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 24.000022888183594px;
  box-sizing: border-box;
  width: 448px;
  height: 564px;
}
.card_2-375 {
  position: relative;
  box-sizing: border-box;
  border-radius: 14px;
  border-color: #00000019;
  border-style: solid;
  border-width: 0.800000011920929px;
  background: #ffffff;
  height: 520px;
  width: -webkit-fill-available;
}
.cardheader_2-376 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 446px;
  height: 70px;
}
.cardtitle_2-377 {
  top: 24px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 398px;
  height: 16px;
}
.text-bienvenido_2-378 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0a0a0a;
  font-size: 16px;
  font-family: Arial;
  line-height: 16px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 80px;
  height: 16px;
}

.carddescription_2-379 {
  top: 46px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 398px;
  height: 24px;
}
.text-inicia-sesi-n-o-crea-una-cuenta-para-comenzar_2-380 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #717182;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 333px;
  height: 24px;
}

.primitive-div_2-381 {
  top: 95px;
  left: 25px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: content-box;
  width: 398px;
  height: 400px;
}
.tab-list_2-382 {
  position: relative;
  box-sizing: border-box;
  border-radius: 14px;
  background: #ececf0;
  width: 398px;
  height: 36px;
}
.primitive-button_2-383 {
  padding: 4px 8px 4px 8px;
  top: 4px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
  box-sizing: content-box;
  border-radius: 14px;
  border-color: #00000000;
  border-style: solid;
  border-width: 0.800000011920929px;
  background: #ffffff;
  width: 196px;
  height: 29px;
}
.text-iniciar-sesi-n_2-384 {
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
}

.primitive-button_2-385 {
  padding: 4px 8px 4px 8px;
  top: 4px;
  left: 199px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
  box-sizing: content-box;
  border-radius: 14px;
  border-color: #00000000;
  border-style: solid;
  border-width: 0.800000011920929px;
  width: 196px;
  height: 29px;
}
.text-registrarse_2-386 {
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
}

.tab-panel_2-387 {
  padding: 16px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 24.000015258789062px;
  box-sizing: border-box;
  width: 398px;
  height: 100%;
}
.authpage_2-388 {
  position: relative;
  box-sizing: border-box;
  height: 220px;
  width: -webkit-fill-available;
}
.container_2-389 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8.000015258789062px;
  box-sizing: border-box;
  width: 398px;
  height: 58px;
}
.primitive-label_2-390 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: content-box;
  height: 14px;
  width: -webkit-fill-available;
}
.text-correo-electr-nico_2-391 {
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 14px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_2-392 {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  width: -webkit-fill-available;
}
.input_2-393 {
  padding: 4px 12px 4px 36px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #00000000;
  border-style: solid;
  border-width: 0.800000011920929px;
  background: #f3f3f5;
  width: 398px;
  height: 36px;
}
.text-tu-email-com_2-394 {
  color: #717182;
  font-size: 14px;
  font-family: Arial;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.icon_2-395 {
  top: 12px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-396 {
  top: 5px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-397 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.container_2-398 {
  top: 74px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 398px;
  height: 58px;
}
.primitive-label_2-399 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: content-box;
  height: 14px;
  width: -webkit-fill-available;
}
.text-contrase-a_2-400 {
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 14px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_2-401 {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  width: -webkit-fill-available;
}
.input_2-402 {
  padding: 4px 36px 4px 36px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #00000000;
  border-style: solid;
  border-width: 0.800000011920929px;
  background: #f3f3f5;
  width: 398px;
  height: 36px;
}
.text---------_2-403 {
  color: #717182;
  font-size: 14px;
  font-family: Arial;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.icon_2-404 {
  top: 12px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-405 {
  top: 7px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-406 {
  top: 1px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.button_2-407 {
  top: 12px;
  left: 370px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.icon_2-408 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-409 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-410 {
  top: 6px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.container_2-411 {
  top: 148px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 142.91246032714844px;
  box-sizing: content-box;
  width: 398px;
  height: 20px;
}
.container_2-412 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: content-box;
  width: 98px;
  height: 20px;
}
.checkbox_2-413 {
  position: relative;
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}

.primitive-label_2-414 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: content-box;
  height: 20px;
  width: -webkit-fill-available;
}
.text-recordarme_2-415 {
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.button_2-416 {
  position: relative;
  box-sizing: border-box;
  width: 158px;
  height: 20px;
}
.text--olvidaste-tu-contrase-a-_2-417 {
  top: -1px;
  left: -3px;
  position: absolute;
  display: flex;
  color: #030213;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 164px;
  height: 20px;
}

.button_2-418 {
  top: 184px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 8px;
  background: #030213;
  width: 398px;
  height: 36px;
}
.text-iniciar-sesi-n_2-419 {
  top: 7px;
  left: 145px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 85px;
  height: 20px;
}

.icon_2-420 {
  top: 10px;
  left: 237px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-421 {
  top: 8px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-422 {
  top: 3px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.authpage_2-423 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 15.999987602233887px;
  box-sizing: border-box;
  height: 96px;
  width: -webkit-fill-available;
}
.container_2-424 {
  position: relative;
  box-sizing: border-box;
  height: 16px;
  width: -webkit-fill-available;
}
.text_2-425 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #00000019;
  border-style: solid;
  border-top-width: 0.800000011920929px;
  width: 398px;
  height: 1px;
}

.text_2-426 {
  padding: 0px 8px 0px 8px;
  top: 0px;
  left: 131px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  background: #ffffff;
  width: 136px;
  height: 16px;
}
.text-usuarios-de-prueba_2-427 {
  color: #717182;
  font-size: 12px;
  font-family: Arial;
  line-height: 16px;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_2-428 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 7.999987602233887px;
  box-sizing: border-box;
  height: 64px;
  width: -webkit-fill-available;
}
.paragraph_2-429 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 16px;
  width: -webkit-fill-available;
}
.text---admin-cowork-com--administrador-_2-430 {
  color: #717182;
  font-size: 12px;
  font-family: Arial;
  line-height: 16px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_2-431 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 16px;
  width: -webkit-fill-available;
}
.text---member-cowork-com--miembro-_2-432 {
  color: #717182;
  font-size: 12px;
  font-family: Arial;
  line-height: 16px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_2-433 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: content-box;
  height: 16px;
  width: -webkit-fill-available;
}
.text---visitor-cowork-com--visitante-_2-434 {
  color: #717182;
  font-size: 12px;
  font-family: Arial;
  line-height: 16px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: -webkit-fill-available;
}

.paragraph_2-435 {
  position: relative;
  box-sizing: border-box;
  height: 20px;
  width: -webkit-fill-available;
}
.text---2025-coworkspace--todos-los-derechos-reservados-_2-436 {
  top: -1px;
  left: 53px;
  position: absolute;
  display: flex;
  color: #717182;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 342px;
  height: 20px;
}

.container_2-437 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(180deg, #155dfc 0%, #8200db 100%);
  width: 647px;
  height: 730px;
}
.imagewithfallback_2-438 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.container_2-439 {
  top: 207px;
  left: 176px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 24.000015258789062px;
  box-sizing: border-box;
  width: 295px;
  height: 316px;
}
.container_2-440 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
  box-sizing: content-box;
  height: 48px;
  width: -webkit-fill-available;
}
.icon_2-441 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-442 {
  top: 24px;
  left: 20px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-443 {
  top: 16px;
  left: 20px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-444 {
  top: 32px;
  left: 20px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-445 {
  top: 14px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-446 {
  top: 6px;
  left: 12px;
  position: absolute;
  display: flex;
  display: flex;
}

.heading-1_2-447 {
  position: relative;
  box-sizing: border-box;
  width: 228px;
  height: 40px;
}
.text-coworkspace_2-448 {
  top: -3px;
  left: -5px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 36px;
  font-family: Arial;
  line-height: 40px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
  width: 239px;
  height: 40px;
}

.paragraph_2-449 {
  position: relative;
  box-sizing: border-box;
  height: 28px;
  width: -webkit-fill-available;
}
.text-tu-espacio-de-trabajo-flexible_2-450 {
  top: -2px;
  left: 18px;
  position: absolute;
  display: flex;
  color: #dbeafe;
  font-size: 20px;
  font-family: Arial;
  line-height: 28px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 260px;
  height: 28px;
}

.container_2-451 {
  padding: 24px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #ffffff19;
  height: 192px;
  width: -webkit-fill-available;
}
.container_2-452 {
  position: relative;
  box-sizing: border-box;
  height: 24px;
  width: -webkit-fill-available;
}
.container_2-453 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 26843500px;
  background: #ffffff;
  width: 8px;
  height: 8px;
}

.paragraph_2-454 {
  top: 0px;
  left: 20px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 225px;
  height: 24px;
}
.text-reserva-espacios-en-tiempo-real_2-455 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 234px;
  height: 24px;
}

.container_2-456 {
  position: relative;
  box-sizing: border-box;
  height: 24px;
  width: -webkit-fill-available;
}
.container_2-457 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 26843500px;
  background: #ffffff;
  width: 8px;
  height: 8px;
}

.paragraph_2-458 {
  top: 0px;
  left: 20px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 227px;
  height: 24px;
}
.text-gestiona-tus-reservas-f-cilmente_2-459 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 234px;
  height: 24px;
}

.container_2-460 {
  position: relative;
  box-sizing: border-box;
  height: 24px;
  width: -webkit-fill-available;
}
.container_2-461 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 26843500px;
  background: #ffffff;
  width: 8px;
  height: 8px;
}

.paragraph_2-462 {
  top: 0px;
  left: 20px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 224px;
  height: 24px;
}
.text-accede-a-reportes-y-estad-sticas_2-463 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 232px;
  height: 24px;
}

.container_2-464 {
  position: relative;
  box-sizing: border-box;
  height: 24px;
  width: -webkit-fill-available;
}
.container_2-465 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 26843500px;
  background: #ffffff;
  width: 8px;
  height: 8px;
}

.paragraph_2-466 {
  top: 0px;
  left: 20px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 185px;
  height: 24px;
}
.text-optimiza-tu-productividad_2-467 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 181px;
  height: 24px;
}

.text_2-468 {
  top: -20000px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 9px;
  height: 24px;
}
.text-0_2-469 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0a0a0a;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 9px;
  height: 24px;
}
.button_2-418 {
  cursor: pointer;
}
.input-real {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}
.button_2-407 {
  cursor: pointer;
  background: transparent;
  border: none;
}
.input-pass {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}