.registrase_2-149 {
  position: relative;
  box-sizing: border-box;
  background: #ffffff;
  width: 1294px;
  height: 730px;
}
.authpage_2-150 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 1294px;
  height: 730px;
}
.container_2-151 {
  top: 0px;
  left: 647px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: content-box;
  background: linear-gradient(180deg, #eff6ff 0%, #ffffff 50%, #faf5ff 100%);
  width: 647px;
  height: 730px;
}
.container_2-152 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 24px;
  box-sizing: border-box;
  width: 448px;
  height: 612px;
}
.card_2-153 {
  position: relative;
  box-sizing: border-box;
  border-radius: 14px;
  border-color: #00000019;
  border-style: solid;
  border-width: 0.800000011920929px;
  background: #ffffff;
  height: 568px;
  width: -webkit-fill-available;
}
.cardheader_2-154 {
  top: 1px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 446px;
  height: 70px;
}
.cardtitle_2-155 {
  top: 24px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 398px;
  height: 16px;
}
.text-bienvenido_2-156 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0a0a0a;
  font-size: 16px;
  font-family: Arial;
  line-height: 16px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 80px;
  height: 16px;
}

.carddescription_2-157 {
  top: 46px;
  left: 24px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 398px;
  height: 24px;
}
.text-inicia-sesi-n-o-crea-una-cuenta-para-comenzar_2-158 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #717182;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 333px;
  height: 24px;
}

.primitive-div_2-159 {
  top: 95px;
  left: 25px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 24px;
  box-sizing: content-box;
  width: 398px;
  height: 448px;
}
.tab-list_2-160 {
  position: relative;
  box-sizing: border-box;
  border-radius: 14px;
  background: #ececf0;
  width: 398px;
  height: 36px;
}
.primitive-button_2-161 {
  padding: 4px 8px 4px 8px;
  top: 4px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
  box-sizing: content-box;
  border-radius: 14px;
  border-color: #00000000;
  border-style: solid;
  border-width: 0.800000011920929px;
  width: 196px;
  height: 29px;
}
.text-iniciar-sesi-n_2-162 {
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
}

.primitive-button_2-163 {
  padding: 4px 8px 4px 8px;
  top: 4px;
  left: 199px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 6px;
  box-sizing: content-box;
  border-radius: 14px;
  border-color: #00000000;
  border-style: solid;
  border-width: 0.800000011920929px;
  background: #ffffff;
  width: 196px;
  height: 29px;
}
.text-registrarse_2-164 {
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
}

.authpage_2-165 {
  position: relative;
  box-sizing: border-box;
  width: 398px;
  height: 100%;
}
.container_2-166 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 398px;
  height: 58px;
}
.primitive-label_2-167 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: content-box;
  height: 14px;
  width: -webkit-fill-available;
}
.text-nombre-completo_2-168 {
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 14px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_2-169 {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  width: -webkit-fill-available;
}
.input_2-170 {
  padding: 4px 12px 4px 36px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #00000000;
  border-style: solid;
  border-width: 0.800000011920929px;
  background: #f3f3f5;
  width: 398px;
  height: 36px;
}
.text-juan-p-rez_2-171 {
  color: #717182;
  font-size: 14px;
  font-family: Arial;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.icon_2-172 {
  top: 12px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-173 {
  top: 10px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-174 {
  top: 2px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.container_2-175 {
  top: 74px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 398px;
  height: 58px;
}
.primitive-label_2-176 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: content-box;
  height: 14px;
  width: -webkit-fill-available;
}
.text-correo-electr-nico_2-177 {
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 14px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_2-178 {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  width: -webkit-fill-available;
}
.input_2-179 {
  padding: 4px 12px 4px 36px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #00000000;
  border-style: solid;
  border-width: 0.800000011920929px;
  background: #f3f3f5;
  width: 398px;
  height: 36px;
}
.text-tu-email-com_2-180 {
  color: #717182;
  font-size: 14px;
  font-family: Arial;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.icon_2-181 {
  top: 12px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-182 {
  top: 5px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-183 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.container_2-184 {
  top: 148px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 398px;
  height: 58px;
}
.primitive-label_2-185 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: content-box;
  height: 14px;
  width: -webkit-fill-available;
}
.text-contrase-a_2-186 {
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 14px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_2-187 {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  width: -webkit-fill-available;
}
.input_2-188 {
  padding: 4px 36px 4px 36px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #00000000;
  border-style: solid;
  border-width: 0.800000011920929px;
  background: #f3f3f5;
  width: 398px;
  height: 36px;
}
.text---------_2-189 {
  color: #717182;
  font-size: 14px;
  font-family: Arial;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.icon_2-190 {
  top: 12px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-191 {
  top: 7px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-192 {
  top: 1px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.button_2-193 {
  top: 12px;
  left: 370px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.icon_2-194 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-195 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-196 {
  top: 6px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.container_2-197 {
  top: 222px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 8px;
  box-sizing: border-box;
  width: 398px;
  height: 58px;
}
.primitive-label_2-198 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  box-sizing: content-box;
  height: 14px;
  width: -webkit-fill-available;
}
.text-confirmar-contrase-a_2-199 {
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 14px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.container_2-200 {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  width: -webkit-fill-available;
}
.input_2-201 {
  padding: 4px 36px 4px 36px;
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #00000000;
  border-style: solid;
  border-width: 0.800000011920929px;
  background: #f3f3f5;
  width: 398px;
  height: 36px;
}
.text---------_2-202 {
  color: #717182;
  font-size: 14px;
  font-family: Arial;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
}

.icon_2-203 {
  top: 12px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-204 {
  top: 7px;
  left: 2px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-205 {
  top: 1px;
  left: 5px;
  position: absolute;
  display: flex;
  display: flex;
}

.button_2-206 {
  top: 12px;
  left: 370px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.icon_2-207 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-208 {
  top: 3px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-209 {
  top: 6px;
  left: 6px;
  position: absolute;
  display: flex;
  display: flex;
}

.container_2-210 {
  top: 296px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 398px;
  height: 40px;
}
.checkbox_2-211 {
  top: 4px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 13px;
  height: 13px;
}

.primitive-label_2-212 {
  top: 0px;
  left: 21px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 377px;
  height: 40px;
}
.text-acepto-los_2-213 {
  top: -1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 46px;
  height: 40px;
}

.authpage_2-214 {
  top: 0px;
  left: 72px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 139px;
  height: 40px;
}
.text-t-rminos-y-condiciones_2-215 {
  top: -1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #030213;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 76px;
  height: 40px;
}

.text-y-la_2-216 {
  top: -1px;
  left: 219px;
  position: absolute;
  display: flex;
  color: #0a0a0a;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 11px;
  height: 40px;
}

.authpage_2-217 {
  top: 0px;
  left: 248px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 129px;
  height: 40px;
}
.text-pol-tica-de-privacidad_2-218 {
  top: -1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #030213;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: wrap;
  width: 67px;
  height: 40px;
}

.button_2-219 {
  top: 352px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 8px;
  background: #030213;
  width: 398px;
  height: 36px;
}
.text-crear-cuenta_2-220 {
  top: 7px;
  left: 145px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 85px;
  height: 20px;
}

.icon_2-221 {
  top: 10px;
  left: 236px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-222 {
  top: 8px;
  left: 3px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-223 {
  top: 3px;
  left: 8px;
  position: absolute;
  display: flex;
  display: flex;
}

.paragraph_2-224 {
  position: relative;
  box-sizing: border-box;
  height: 20px;
  width: -webkit-fill-available;
}
.text---2025-coworkspace--todos-los-derechos-reservados-_2-225 {
  top: -1px;
  left: 53px;
  position: absolute;
  display: flex;
  color: #717182;
  font-size: 14px;
  font-family: Arial;
  line-height: 20px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 342px;
  height: 20px;
}

.container_2-226 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  background: linear-gradient(180deg, #155dfc 0%, #8200db 100%);
  width: 647px;
  height: 730px;
}
.imagewithfallback_2-227 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}

.container_2-228 {
  top: 207px;
  left: 176px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 24.000015258789062px;
  box-sizing: border-box;
  width: 295px;
  height: 316px;
}
.container_2-229 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 12px;
  box-sizing: content-box;
  height: 48px;
  width: -webkit-fill-available;
}
.icon_2-230 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_2-231 {
  top: 24px;
  left: 20px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-232 {
  top: 16px;
  left: 20px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-233 {
  top: 32px;
  left: 20px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-234 {
  top: 14px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_2-235 {
  top: 6px;
  left: 12px;
  position: absolute;
  display: flex;
  display: flex;
}

.heading-1_2-236 {
  position: relative;
  box-sizing: border-box;
  width: 228px;
  height: 40px;
}
.text-coworkspace_2-237 {
  top: -3px;
  left: -5px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 36px;
  font-family: Arial;
  line-height: 40px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  text-wrap: nowrap;
  width: 239px;
  height: 40px;
}

.paragraph_2-238 {
  position: relative;
  box-sizing: border-box;
  height: 28px;
  width: -webkit-fill-available;
}
.text-tu-espacio-de-trabajo-flexible_2-239 {
  top: -2px;
  left: 18px;
  position: absolute;
  display: flex;
  color: #dbeafe;
  font-size: 20px;
  font-family: Arial;
  line-height: 28px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 260px;
  height: 28px;
}

.container_2-240 {
  padding: 24px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: #ffffff19;
  height: 192px;
  width: -webkit-fill-available;
}
.container_2-241 {
  position: relative;
  box-sizing: border-box;
  height: 24px;
  width: -webkit-fill-available;
}
.container_2-242 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 26843500px;
  background: #ffffff;
  width: 8px;
  height: 8px;
}

.paragraph_2-243 {
  top: 0px;
  left: 20px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 225px;
  height: 24px;
}
.text-reserva-espacios-en-tiempo-real_2-244 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 234px;
  height: 24px;
}

.container_2-245 {
  position: relative;
  box-sizing: border-box;
  height: 24px;
  width: -webkit-fill-available;
}
.container_2-246 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 26843500px;
  background: #ffffff;
  width: 8px;
  height: 8px;
}

.paragraph_2-247 {
  top: 0px;
  left: 20px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 227px;
  height: 24px;
}
.text-gestiona-tus-reservas-f-cilmente_2-248 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 234px;
  height: 24px;
}

.container_2-249 {
  position: relative;
  box-sizing: border-box;
  height: 24px;
  width: -webkit-fill-available;
}
.container_2-250 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 26843500px;
  background: #ffffff;
  width: 8px;
  height: 8px;
}

.paragraph_2-251 {
  top: 0px;
  left: 20px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 224px;
  height: 24px;
}
.text-accede-a-reportes-y-estad-sticas_2-252 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 232px;
  height: 24px;
}

.container_2-253 {
  position: relative;
  box-sizing: border-box;
  height: 24px;
  width: -webkit-fill-available;
}
.container_2-254 {
  top: 8px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 26843500px;
  background: #ffffff;
  width: 8px;
  height: 8px;
}

.paragraph_2-255 {
  top: 0px;
  left: 20px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 185px;
  height: 24px;
}
.text-optimiza-tu-productividad_2-256 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #ffffff;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 181px;
  height: 24px;
}

.text_2-257 {
  top: -20000px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  width: 9px;
  height: 24px;
}
.text-0_2-258 {
  top: -2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #0a0a0a;
  font-size: 16px;
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 9px;
  height: 24px;
}

.input-pass {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}